<div class="flex flex-column gap-2">
    <a routerLink="visita-form/new" class="p-button font-bold w-max">
      Crear nuevo visita
    </a>
    <div class="flex gap-4 flex-wrap">
      @for (visita of visitas; track visita.id) {
      <p-card>
        <ng-template pTemplate="footer">
          <div class="flex gap-1 mt-1">
            <p-button (onClick)="deleteVisita(visita.id)" label="Borrar" severity="secondary" />
            <a routerLink="visita-form/{{ visita.id }}" class="p-button font-bold">
              Editar
            </a>
          </div>
        </ng-template>
      </p-card>
      }@empty {
      <p>No existen visitas</p>
      }
    </div>
  </div>